.v-center-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.v-center-align-absolute {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


$MEDIUM_GREEN: rgb(49, 144, 53);
$LIGHT_GREEN: rgb(101, 173, 69);
$WHITE: #fff;

.medium-green-bg {
	background-color: $MEDIUM_GREEN;
}

.light-green-bg {
	background-color: $LIGHT_GREEN;
}

.full-height {
	height: 100%;
}

.bold-text {
	font-weight: bold;
}

.xxlarge-font {
	font-size: 50px;
}

.xlarge-font {
	font-size: 40px;
}

.large-font {
	font-size: 30px;
}

.medium-font {
	font-size: 20px;
}

.margin-bottom-0 {
	margin-bottom: 0px !important;
}

.medium-padding {
	padding: 25px;
}
