doctype html
html(style="height: 100%; margin: 0")
  head
    title= title

    script(src="https://code.jquery.com/jquery-2.2.0.min.js")
    script(src="js/materialize.js")
    link(rel='stylesheet', href='/css/materialize.css')
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
  body(style="height: 100%; margin: 0")
    block content
