doctype html
html(style="height: 100%; margin: 0")
  head
    title= title

    // Load Vendor Files
    script(src="https://code.jquery.com/jquery-2.2.0.min.js")
    script(src="js/materialize.js")

    link(rel='stylesheet', href='/css/bundle.css')

  body(style="height: 100%; margin: 0")
    block content
